@import "../../styles/mixin.module.scss";

$loadingWidth: 5px;
$loadingSize: 60px;
// 旋轉
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading{
    position: absolute;
    z-index: map-get($z-index, fixed);
    width: 100%;
    height: 100%;
    background-color: $alpha-bg;

    &::before{
        content: "";
        position: absolute;
        z-index:10;
        top: 50%;
        left: 50%;
        margin: -30px;
        border: $loadingWidth solid rgba(255, 255, 255, 0);
        border-radius: 50%;
        border-top: $loadingWidth solid map-get($colors, secondary);
        width: $loadingSize;
        height: $loadingSize;
        animation: spin 1.5s linear infinite;
    }

     &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -30px;
        border: $loadingWidth solid #f3f3f3; 
        border-radius: 50%;
        border-top: $loadingWidth solid map-get($colors, secondary-light);
        border-left: $loadingWidth solid map-get($colors, secondary-light);
        opacity: .5;
        width: $loadingSize;
        height: $loadingSize;
        animation: spin 2s linear infinite;
    }
}